<!DOCTYPE html>
<!--[if IE 9]>
<html class="lt-ie10" lang="en"> <![endif]-->
<html class="no-js" lang="fa" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PenCMS {% if block('title') %} · {% endif %}{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('assets/styles/main.min.css') }}">
    {% block head %}{% endblock %}
</head>
<body>

<header>
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name show-for-small-only">
                <h1><a href="#">PenCMS</a></h1>
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>

        <section class="top-bar-section">

            <ul class="right">
                <li class="active"><a href="#">خانه</a></li>
                <li><a href="#">درباره‌ی من</a></li>
            </ul>

            <ul class="left">
                <li class="has-form">{# TODO: Search#}
                    <form class="collapse">
                        <input type="text" placeholder="جستجو">
                    </form>
                </li>
            </ul>
        </section>
    </nav>
    <div class="logo">
        <a href="#">
            <img src="{{ asset('assets/images/logo.png') }}">
        </a>
    </div>
</header>
<section id="content">
    {% if block('sidebar') %}
        <div class="large-2 columns sidebar">
        {% block sidebar %}{% endblock %}
    </div>
        <div class="large-10 columns">
        {% block content %}{% endblock %}
    </div>
    {% else %}
        {{ block('content') }}
    {% endif %}
</section>
<footer>
    <div class="poworedBy">
        قدرت‌گرفته از
        <a href="http://www.pencms.ir" target="_blank">PenCMS</a>
    </div>
    حق چاپ برای این وب‌سایت محفوظ می‌باشد.
</footer>
<script src="{{ asset('assets/js/vendor.min.js') }}"></script>
<script src="{{ asset('assets/js/main.min.js') }}"></script>
{% block js %}{% endblock %}
<script>
    $(document).foundation();
</script>
</body>
</html>